*.jar
*.zip
staging/
tmp/
*.iml
logs/
target/
*.DS_Store
.idea/
*.tgz
bazel-*
brigade.yaml
settings.xml
*.cfg
etc/cert-manager.json
*.pyc
.vscode/
.pytest_cache/
reports/
res.txt
results.txt
/venv/
skaffold-dev.yaml
 __pycache__/
build/
.gradle/
key.json
cue/
.project
.settings/
dev/
!kustomize/overlay/7.3.0/securebanking/dev
!config/7.3.0/securebanking/ig/config/dev
.CONFIGURED
forgeops-toolbox/
secure-api-gateway-ob-uk-docker/7.3.0/ig/config/
secure-api-gateway-ob-uk-docker/7.3.0/ig/lib/
secure-api-gateway-ob-uk-docker/7.3.0/ig/scripts/
secure-api-gateway-ob-uk-docker/7.3.0/ig/audit-schemas/
/docker/gatling/gradlew
/docker/gatling/gradlew.bat
/docker/gatling/gradle/
**/.java-version
/config/7.3.0/securebanking/ig/lib/*
/config/7.3.0/securebanking/ig/lib/secure-api-gateway-ig-extensions-*.jar
pom.xml.versionsBackup
