*.zip
staging/
tmp/
*.iml
logs/
target/
*.DS_Store
.idea/
*.tgz
bazel-*
brigade.yaml
settings.xml
*.cfg
etc/cert-manager.json
*.pyc
.vscode/
.pytest_cache/
reports/
res.txt
results.txt
/venv/
skaffold-dev.yaml
 __pycache__/
build/
.gradle/
key.json
cue/
.project
.settings/
dev/
!kustomize/overlay/7.0/obdemo-bank/dev
!config/7.0/obdemo-bank/ig/config/dev
.CONFIGURED
forgeops-toolbox/
docker/7.0/ig/config/
docker/7.0/ig/lib/
docker/7.0/ig/scripts/
/docker/gatling/gradlew
/docker/gatling/gradlew.bat
/docker/gatling/gradle/
lib/*.jar
